/* Header thanh điều hướng luôn hiển thị */
.header {
  position: sticky;
  top: 0; /* Đảm bảo header sẽ dính vào phần trên cùng */
  z-index: 1000; /* Đặt z-index cao để luôn hiển thị trên các phần tử khác */
}

/* Thanh khuyến mãi */
.header-promotion {
  position: sticky;
  top: 0;
  z-index: 50; /* Đảm bảo thanh khuyến mãi có thể di chuyển lên trên khi cuộn */
}

/* Thanh điều hướng */
.header-navigation {
  position: sticky;
  top: 0;
  z-index: 100; /* Đảm bảo menu luôn hiển thị trên các phần tử khác */
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
